/* Sections */

body {
    min-width: 320px;
}

.section {
    position: relative;
    width: 100%;
    padding: 4rem 0;
    color: inherit;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    &.bg-pos--top-center {
        background-position: top center;
    }

    &.section--sm {
        padding: 3rem 0;
    }

    &.section--lg {
        padding: 6rem 0;
    }

    @include media-breakpoint-down(md) {
        padding: 2.5rem 0;

        &.section--sm {
            padding: 2rem 0;
        }

        &.section--lg {
            padding: 4rem 0;
        }
    }
}


// general

.banner__color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($eggshell, .65);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// gutenberg styling

.alignfull {
    margin-left: calc( -100vw / 2 + 100% / 2 );
    margin-right: calc( -100vw / 2 + 100% / 2 );
    max-width: 100vw;
}

// blocks

.carousel-caption {
    position: absolute;
    right: 15%;
    left: 15%;
    top: 0;
    bottom: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}
.carousel-block__banner {

    .carousel-item {
        background-size: cover;
        background-position: center;

        @include media-breakpoint-up(md) {
            height: 428px;
            min-height: 430px;
        }

        @include media-breakpoint-up(lg) {
            height: 856px;
            min-height: 858px;
        }
    }

    .carousel-control-prev-icon {
        background-image: url('../images/carousel-banner-left-arrow.svg');
    }
    .carousel-control-next-icon {
        background-image: url('../images/carousel-banner-right-arrow.svg');
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        display: inline-block;
        width: 23px;
        height: 39px;
        background-size: 100% 100%;
    }

    @include media-breakpoint-up(lg) {
        .carousel-control-prev-icon, .carousel-control-next-icon {
            width: 46px;
            height: 77px;
        }
    }
}

.carousel-block__testimonial {
    .carousel-control-prev-icon {
        background-image: url('../images/carousel-light-left-arrow.svg');
    }
    .carousel-control-next-icon {
        background-image: url('../images/carousel-light-right-arrow.svg');
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        display: inline-block;
        width: 22px;
        height: 46px;
        background-size: 100% 100%;
    }

    @include media-breakpoint-up(lg) {
        .carousel-control-prev-icon, .carousel-control-next-icon {
            width: 44px;
            height: 89px;
        }
    }
}

.carousel-control-next, .carousel-control-prev {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.carousel-indicators li {
    background-color: rgba($primary, 0.5);
}

.carousel-indicators .active {
    background-color: $primary;
}

.carousel-block__title {

    font-family: "NexaRustSans-Black-Free", "Open Sans", Arial, sans-serif;

    @include media-breakpoint-up(xl) {
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 700;
    }
}