/* Sections */

body {
    min-width: 320px;
}

.section {
    position: relative;
    width: 100%;
    padding: 4rem 0;
    color: inherit;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    &.bg-pos--top-center {
        background-position: top center;
    }

    &.section--sm {
        padding: 3rem 0;
    }

    &.section--lg {
        padding: 6rem 0;
    }

    @include media-breakpoint-down(md) {
        padding: 2.5rem 0;

        &.section--sm {
            padding: 2rem 0;
        }

        &.section--lg {
            padding: 4rem 0;
        }
    }
}


// general

.bg-size-cover {
    background-size: cover;
}

.banner__color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($eggshell, .65);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// gutenberg styling

.alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    margin-bottom: 0;
}

// blocks

.carousel-caption {
    position: absolute;
    right: 15%;
    left: 15%;
    top: 0;
    bottom: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}

.carousel-block__banner {

    .carousel-item {
        background-size: cover;
        background-position: center;

        @include media-breakpoint-up(md) {
            padding-top: $spacer*2;
            padding-bottom: $spacer*2;
        }

        @include media-breakpoint-up(xxl) {
            height: 856px;
            min-height: 858px;
        }
    }

    .carousel-item__content-block {

        height: 11rem;

        @include media-breakpoint-up(xs) {
            height: 9rem;
        }

        @include media-breakpoint-up(md) {
            height: 17rem;
        }

        @include media-breakpoint-up(lg) {
            height: 15rem;
        }

        @include media-breakpoint-up(xl) {
            height: 20rem;
        }

        @include media-breakpoint-up(xxl) {
            height: 18rem;
        }
    }

    .carousel-control-prev, .carousel-control-next {
        width: 8%;
    }

    .carousel-control-prev-icon {
        background-image: url('../images/carousel-banner-left-arrow.svg');
    }

    .carousel-control-next-icon {
        background-image: url('../images/carousel-banner-right-arrow.svg');
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        display: inline-block;
        width: 23px;
        height: 39px;
        background-size: 100% 100%;
    }

    @include media-breakpoint-up(xxl) {
        .carousel-control-prev-icon, .carousel-control-next-icon {
            width: 46px;
            height: 77px;
        }
    }
}

.carousel-block__testimonial {
    .container {
        &::before, &::after {
            content: '';
            position: absolute;
            width: 52px;
            height: 42px;
        }

        &::before {
            top: -42px;
            left: 10%;
            background: transparent url('../images/quote-mark-left.svg') no-repeat center;
        }

        &::after {
            bottom: 42px;
            right: 10%;
            background: transparent url('../images/quote-mark-right.svg') no-repeat center;
        }
    }

    .carousel-control-prev-icon {
        background-image: url('../images/carousel-light-left-arrow.svg');
    }

    .carousel-control-next-icon {
        background-image: url('../images/carousel-light-right-arrow.svg');
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        display: inline-block;
        width: 22px;
        height: 46px;
        background-size: 100% 100%;
    }

    @include media-breakpoint-down(md) {
        .container {
            &::before, &::after {
                width: 26px;
                height: 21px;
                background-size: 26px 21px;
            }

            &::before {
                top: -31px;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        .carousel-control-prev-icon, .carousel-control-next-icon {
            width: 44px;
            height: 89px;
        }
    }
}

.carousel-control-next, .carousel-control-prev {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.carousel-indicators li {
    background-color: rgba($primary, 0.5);
}

.carousel-indicators .active {
    background-color: $primary;
}

.carousel-block__title {

    font-family: "NexaRustSans-Black-Free", "Open Sans", Arial, sans-serif;

    @include media-breakpoint-down(xs) {
        font-size: 1.25rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 700;
    }
}

.section--ping-pong .row > div:first-child {

    @include media-breakpoint-down(lg) {
        //min-height: 45vh;
        //background-position-y: top !important;
    }
}

.section--ping-pong .section--ping-pong__content-block {
    max-width: 672px;
}

.section--ping-pong .section--ping-pong__content-page {

    @include media-breakpoint-up(xxl) {
        max-width: 834px;
    }
}

.bg-img--reset {

    @include media-breakpoint-down(lg) {
        background-image: none !important;
    }
}

.home {

    @media (min-width: 2373.98px) {
        .js--ping-pong__content-block {
            background-image: url('../images/fp-derotive.svg');
            background-repeat: no-repeat;
            background-position: 70% 12%;
        }
        .order-xl-0.js--ping-pong__content-block {
            background-position: 20% 100%;
        }
    }
}

.js--ping-pong__content-block {

    @include media-breakpoint-down(lg) {
        min-height: auto !important;
    }
}


// services sub-blocks

.services__color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($primary, .45);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.services__sub-blocks {

    .js-services__sub-block--item {
        min-height: 100vw;

        @include media-breakpoint-up(xs) {
            min-height: 50vw;
        }

        @include media-breakpoint-up(lg) {
            min-height: 450px;
        }
    }

    .services__sub-block--two-items-up {
        background-position: center;
        background-repeat: no-repeat;

        @include media-breakpoint-up(xs) {
            flex-basis: 50%;
        }
    }

    .services__sub-block--five-items-up {

        @include media-breakpoint-up(xs) {
            flex-basis: 50%;
        }

        @include media-breakpoint-up(lg) {
            flex-basis: 33%;
            &:nth-of-type(1n+4) {
                flex-basis: 50%;
            }
        }
    }

    .services__sub-blocks--heading {
        left: 10%;
        text-align: center;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .services__sub-blocks--content {
        top: 0;
        left: 0;
        display: none;

        p {
            font-size: 0.8rem;
            max-width: 400px;
        }
    }
}

// contact page

.content-detail__block {

    @include media-breakpoint-up(xl) {
        background-color: rgba(252, 250, 250, 0.9);
        margin-left: -72%;
    }

    @include media-breakpoint-up(xxl) {
        margin-left: -52%;
    }
}

.contact-page__map-block {
    height: 300px;
    @include media-breakpoint-up(xs) {
        height: 600px;
    }
}

.contact-page__map-link {
    top: 0;
    left: 0;
}

// blog

.blog__hr {
    border-top: 1px dashed $secondary;
}

article {
    &:last-of-type {
        .blog__hr {
            display: none;
        }
    }
}

.posted-on {
    display: block;
    margin-bottom: $spacer/2;
}

// general page

.general-page__banner-bg {
    min-height: 45vh;
}

// teammember

.teammember__profile--background {

    @include media-breakpoint-down(lg) {
        background-image: none !important;
    }
}

.teammember__profile--image {
    width: 600px;
}

.wp-block-image .alignright {
    margin-top: -$spacer;

    @include media-breakpoint-down(md) {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $spacer*2;
        margin-top: 0;
    }
    @include media-breakpoint-down(xs) {
        margin-bottom: $spacer;
    }
}