.main-nav {
    .navbar {
        padding: 0;
    }

    .navbar-dark .navbar-toggler {
        background: $offwhite;
        outline: none;

        .fa-bars {
            color: $primary;
            font-size: 110%;
            line-height: 1.2;
        }
    }

    .nav-logo img {
        width: 607px;
        height: auto;
    }

    .navbar-expand-lg > .container {
        padding: 0 1.25rem;
    }

    .navbar-nav .nav-link {
        color: $offwhite;
        font-weight: bold;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .dropdown-toggle::after {
        margin-left: .45rem;
    }
    @include media-breakpoint-down(xs) {
        .nav-logo img {
            width: 204px;
            height: auto;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 0;

        .dropdown-menu {
            display: block;
            background: none;
            border: none;
            margin: 0;
            padding: 0 0 0 1.5rem;
        }
    }

    @include media-breakpoint-up(xs) {
        .nav-logo img {
            width: 404px;
            height: auto;
        }
    }

    @include media-breakpoint-up(lg) {
        .navbar-nav .menu-item.show > .nav-link {
            background: $soft;
            color: $primary;
        }

        .navbar-nav .nav-link {
            padding: $spacer $spacer*1.25;
        }

        .dropdown-menu {
            box-shadow: none;
            border-radius: 0;
            border: none;
            right: auto;
            left: 0;
            margin: 0;
            background: $soft;
            width: 130%;

            & > .menu-item > .nav-link {
                padding: $spacer/2;
                font-family: $font-family-sans-serif;
                color: $primary;
                font-size: 90%;
            }
        }
    }

}

.mainnav-m {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}
.social-link {
    padding-left: $spacer*.25;
    padding-right: $spacer*.25;
}