.main-nav {
    .navbar {
        padding: 0;
    }

    .navbar-dark .navbar-toggler {
        background: $offwhite;
        outline: none;

        .fa-bars {
            color: $primary;
            font-size: 110%;
            line-height: 1.2;
        }
    }

    .nav-logo img {
        width: 607px;
        height: auto;
    }

    .navbar-expand-lg > .container {
        padding: 0 1.25rem;
    }

    .navbar-nav .nav-link {
        color: $offwhite;
        font-weight: bold;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .dropdown-toggle::after {
        margin-left: .45rem;
    }

    @include media-breakpoint-down(md) {
        padding: 0;

        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu {
            display: block;
            border-radius: 0;
            width: 100%;
            background: transparent;
            border: none;
            border-left: 2px solid rgba($soft,.25);
            margin: 0;
            padding: 0 0 0 .75rem;
        }
    }

    .nav-logo img {

        height: auto;

        @include media-breakpoint-down(xxs) {
                width: 204px;
        }

        @media (min-width: 373px) {
            width: 270px;
        }

        @media (min-width: 414px) {
                width: 310px;
        }

        @include media-breakpoint-up(xs) {
                width: 404px;
        }
    }


    @include media-breakpoint-up(lg) {
        .navbar-nav .menu-item.show > .nav-link {
            background: $soft;
            color: $primary;
        }

        .navbar-nav .nav-link {
            padding: $spacer $spacer*1.25;
        }

        .dropdown-menu {
            box-shadow: none;
            border-radius: 0;
            border: none;
            right: auto;
            left: 0;
            margin: 0;
            background: $soft;
            width: 130%;

            & > .menu-item > .nav-link {
                padding: $spacer/2;
                font-family: $font-family-sans-serif;
                color: $primary;
                font-size: 90%;
            }
        }
    }

    @include media-breakpoint-only(lg) {
        .navbar-nav .nav-link {
            font-size: .8rem;
        }
        .dropdown-menu {
            & > .menu-item > .nav-link {
                font-size: .7rem;
            }
        }
    }

}

.mainnav-m {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}
.social-link {
    cursor: pointer;
    padding: 0 $spacer/2;
}