button {
    cursor: pointer;
}

.btn {
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2;
    padding: 1.075rem $spacer*1.5;

    @include media-breakpoint-up(lg) {
        font-size: 1.125rem;
    }
}

.btn-nav {
    white-space: normal;
    border: 3px solid $soft;
    color: $primary;
    font-size: .9rem;
    padding: $spacer/2 0;

    @include media-breakpoint-down(lg) {
        width: 90%;
    }

    @include media-breakpoint-up(xs) {
        padding: $spacer/2;
    }

    @include media-breakpoint-up(lg) {
        width: 194px;
        font-size: 1rem;
    }
}
.btn-nav-light {
    @extend .btn-nav;
    background-color: $soft;
}
.btn-nav-outline {
    @extend .btn-nav;
    color: $soft;

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $soft;
    }

}
.btn-fullwidth {
    @extend .btn;
    //width: 100%;
    color: white;
    white-space: normal;
}

.wp-block-button__link {
    @extend .btn;
    background-color: $primary;
}
.is-style-outline .wp-block-button__link {
    @extend .btn;
    color: $primary;
    background-color: white;
    border: 3px solid $primary;
}
.is-style-full .wp-block-button__link {
    @extend .btn;
    //width: 100%;
    color: white;
    white-space: normal;
}

// remove button bottom margin on team page children
.parent-pageid-52 {
    .wp-block-button {
        margin-bottom: 0;
    }
}

.btn--flex-clear {
    align-self: start;
}