// Variables
//
// Define variables that will later override bootstrap defaults

$enable-print-styles: false;

// Colors
$primary: #1C2F44;
$secondary: #908070;
$soft: #E5E0D8;
$offwhite: #EEF0EF;
$eggshell: #F8F8F8;

$body-color: #808D8D;
$headings-color: $primary;
$input-focus-border-color: $primary;

$selection-color: #d9edf7;

// Breakpoints
$grid-breakpoints: (
    xxs: 0,
    xs: 568px,
    sm: 667.5px,
    md: 767.5px,
    lg: 991.5px,
    xl: 1379.5px,
    xxl: 1563.5px
);

$container-max-widths: (
    xxs: 567px,
    xs: 568px,
    sm: 667.5px,
    md: 767.5px,
    lg: 991.5px,
    xl: 1199.5px,
    xxl: 1404px
);

// Misc


$spacer: 1.35rem; //27px

$spacers: () !default;
$spacers: map-merge((
    0: 0,
    1: ($spacer * 1),
    2: ($spacer * 2),
    3: ($spacer * 3),
    4: ($spacer * 4),
    5: ($spacer * 5),
    6: ($spacer * 6),
    7: ($spacer * 7),
    8: ($spacer * 8),
    9: ($spacer * 9),
    10: ($spacer * 10),
    11: ($spacer * 11),
    12: ($spacer * 12),
    35: ($spacer * .35),
    250: ($spacer * .25),
    50: ($spacer * .5),
    75: ($spacer * .75),
    125: ($spacer * 1.25),
    150: ($spacer * 1.5),
    175: ($spacer * 1.75),
    25: ($spacer * 2.5),
    350: ($spacer * 3.5)

), $spacers);

// Fonts
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$font-family-serif: $font-family-sans-serif;
$headings-font-family: $font-family-serif;

// Figure
$figure-margin: $spacer * 2.5;
$matrix-block-margin: $figure-margin;