@font-face {
    font-family: 'NexaRustSans-Black-Free';
    src: url('../fonts/NexaRustSans-Black-Free-webfont.woff2') format('woff2'),
    url('../fonts/NexaRustSans-Black-Free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Responsive font sizing
html {
    font-size: 16px;
    line-height: 1.35;
}

// Sets font size to 16px on form elements to prevent input zoom on mobile devices
@include media-breakpoint-down(sm) {
    .form-control {
        font-size: $font-size-base * 1.075;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 20px;
        line-height: 1.35;
    }
}

// Global

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
    -webkit-overflow-scrolling: touch;
    line-height: 1.4;
}

.small, small {
    font-size: 90%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: $spacer;
    text-transform: uppercase;
}
.h1, h1 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
}
.h2, h2, .h3, h3 {
    font-size: 1.5rem;
    line-height: 1.3;
}
.h2, h2 {
    font-weight: 700;
}
.h3, h3 {
    font-weight: 600;
}
p {
    margin-bottom: $spacer;
}

.fonts-loaded .h1, .fonts-loaded h1 {
    font-family: "NexaRustSans-Black-Free", "Open Sans", Arial, sans-serif;
}

.spaced-list {
    padding: 0 0 0 22px;
}

.spaced-list li {
    margin-bottom: .5rem;
}

.lead {
    font-size: 1.5rem;
    line-height: 1.3;
}

.lead strong {
    font-weight: 600;
}

.text-md {
    font-size: 90%;
}

.list-unstyled li {
    padding-bottom: .25rem;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.list-unstyled {
    margin-bottom: 1rem;
}
.text-offwhite {
    color: $offwhite !important;
}

// gutenberg styling

.has-small-font-size {
    @extend .small;
}
.has-normal-font-size, .has-regular-font-size {
    font-size: 1rem;
}
.has-large-font-size {
    @extend .h2;
}
.has-huge-font-size, .has-larger-font-size {
    @extend .h1;
}